# Python virtual environments
venv310/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints